<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" href='/css/styles.css'>
  <title>About</title>
</head>

<body>
  <div class = "main-content">
    {{>header}}
   <p>This was created by Isabel Gutierrez-Pils.  It uses mapbox.com and netsky.net!</p>
   <br>
     <img class="portrait" src='/images/5picMe.png' alt= 'picture of me' height=30% width = 30%>
  </div>

  {{>footer}}  

</body>
</html>