<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href='/css/styles.css'>
    <title>About</title>
</head>
<body>
<div class = "main-content">
   {{>header}}
 <img class="portrait" src='/images/5picMe.png' alt= 'picture of me' height=30% width = 30%>
</div>


 {{>footer}}  

</body>
</html>